section.content{
	flex-flow: row wrap;
}
section.content .fr h1{
	font-size: 4em;
}
section.content .fr{
	padding: 50px;
}
section.content .fr.fr1{width: 40%;}
section.content .fr.fr2{width: 60%;}
section.content p{
	margin: 20px 0;
	color: #000;
	line-height: 1.6em;
	font-size: 1.2em;
}
@media screen and (max-width: 1200px){
section.content{
	flex-flow: column;
}	
section.content .fr{
	padding: 10px;
}

section.content .fr.fr1{width: 100%;}
section.content .fr.fr2{width: 100%;}

section.content .fr h1{
	font-size: 3em;
}
}